<div id="main-section-header" #headerRef>
    <h1>Contact</h1>
</div>
<div id="main-section-body" #bodyRef>
    <h3>Email</h3>
    <p><em>This is my preferred method of contact.</em><br>tplewe@outlook.com</p>
    <h3>LinkedIn</h3>
    <p><a href="https://www.linkedin.com/in/taylor-plewe-93361b1a9" target="_blank">www.linkedin.com/in/taylor-plewe-93361b1a9</a></p>
    <h3>Mobile Phone</h3>
    <p>(801)910-9755</p>
    <h3>Address</h3>
    <p>675 N 500 W Apt. 103, Provo, UT 84601</p>
    <br>
    <p>I am willing to work remotely.</p>
</div>