<div id="main-section-header" #headerRef>
    <h1>Experience</h1>
</div>
<div id="main-section-body" #bodyRef>
    <p>My expertise has always been computer programming and I've been doing it for many years.  I first started programming when I was about twelve years old.  I find a lot of enjoyment in learning new languages.  As a result of my experience, I understand the dynamics of web development and object-oriented programming, no matter the language.  I've developed the skills a good programmer needs--attention to detail, organization, the ability to guess accurately where a bug is coming from--but above all else,</p><p style="text-align: center;"><b>I know how to Google.</b></p><p>We all know that's the most important skill of a programmer, and it's not as simple as it sounds.  For complex problems you run into, you really have to know what terms you put in the search bar to find the answer you're looking for.</p>
    <p>All that being said, I love trying new things and gaining experience in areas other than computer science.  I have other interests, including finance, nutrition, exercise science, music, and linguistics.</p>
    <div class="section-dark">
        <h2>Web Development</h2>
        <h3>HTML/CSS</h3>
        <p>About eight years of experience, including both personal projects and at work.  I started learning HTML and CSS when I was about thirteen years old, from a book my dad had lying around, and hands-on, trial and error, personal usage.</p>
        <h3>JavaScript</h3>
        <p>About six years of experience.  I've used JS in many different places, in class, in personal use and at work, over those six years.</p>
        <h3>Vue.js</h3>
        <p>About five months experience at work; I and a coworker remade two pages of BYU's learning management system from scratch using Vue.</p>
        <h3>Angular</h3>
        <p>Learned hands-on via my internship in Vienna in Fall 2019; I re-learned it to create this website.</p>
        <h3>WampServer</h3>
        <p>About seven months experience at work, before we switched to Docker.</p>
        <h3>Docker</h3>
        <p>A little over a year experience at work.</p>
    </div>
    <h2>Software Development</h2>
    <h3>C#</h3>
    <p>About three years of heavy personal experience.  I did game devlopment on two different platforms: XNA, which was "a freeware set of tools with a managed runtime environment provided by Microsoft that facilitates video game development and management" (Wikipedia) which utilized C#; and Unity, a popular and powerful game engine that also utilizes C#.</p>
    <h3>C++</h3>
    <p>About five semesters worth of CS classes that primarily used C++.</p>
    <h3>Java</h3>
    <p>One semester long class that taught advanced programming concepts through Java; a number of years ago I learned Java for the purpose of app development on Android, but this didn't last long.  Because of Java's similarity to C# however, I feel very comfortable with Java.</p>
    <h3>Python</h3>
    <p>I completed the entire Python course on Codecademy in 2015 and subsequently wrote a small text-based game in Python.</p>
    <div class="section-dark">
        <h2>Data</h2>
        <h3>MySQL</h3>
        <p>About a year and a half of experience in my job at the Center for Teaching and Learning at BYU doing backend web devlopment for their learning management system.</p>
        <h3>Microsoft Excel/VBA</h3>
        <p>About two years of personal use.  I created two complex spreadsheets for use in my day to day life: one for my financial budget and one for tracking my nutrional values intake/macros.  Both make use of Excel formulas and a little Visual Basic (VBA).</p>
        <div class="img-collection"> <!-- A 2x* grid on larger screens -->
            <app-image imgSrc="assets/budget-spreadsheet.png" dispType="collection"></app-image>
            <app-image imgSrc="assets/nutrition-spreadsheet.png" dispType="collection"></app-image>
            <app-image imgSrc="assets/budget-vba.png" dispType="collection"></app-image>
            <app-image imgSrc="assets/nutrition-vba.png" dispType="collection"></app-image>
        </div>
    </div>
</div>