<div id="main-section-header" #headerRef>
    <h1>Taylor Plewe</h1>
</div>
<div id="main-section-body" #bodyRef>
    <!-- NOTE: I tried doing *ngIf on the following p tag.  It messes up the the transition, since it appears a second or two after openAnim() is called. -->
    <!-- <p [innerHTML]="textFromBackend"></p> -->
    <p>I'm organized, I have a keen eye for detail, I develop routines and stick to them with great discipline.  However, I also like to relax when it's time to relax and spend time doing things I love, and place value in not taking myself too seriously.  I'm laid-back and easy-going, and very easy to get along with--but I work hard and find gratification in accomplishing things.  I'm young but I've done computer programming since I was twelve years old.</p>
    <p>I love hiking, reading, listening to music, longboarding, learning languages, traveling, watching movies, playing video games, spending time with friends.  I place value in trying new things if it sounds like a unique opportunity and I'll learn a lot from it.  I've done two internships related to programming, and a German language study abroad to Vienna, Austria in Fall 2019, paid for with my own money I saved up.</p>
    <app-image
    imgSrc="assets/me-at-gurten.jpg"
    captionText="I love traveling.  This is me on top of Gurten mountain, just south of Switzerland's capital city Bern, with the Bernese Alps in the background."></app-image>
    <p>I wrote and designed this website from scratch using Angular/TypeScript, HTML, and CSS with the Less preprocessor.  I used bash and GitHub to host it.  Resize the window, click on images, visit it on your phone and tablet!</p>
</div>